body {
	background-color: white;
}

#loginDIV{
	margin: auto;
	width: 50%;
}

#menuDIV{
	display: inline-block;
}

.btnimg{
	width: 100%;
	height: 100%;
	margin: 0px;
}

.btn{
	float: left;
	width: 8%;
	height: 100px;
	padding: 0px;
	margin: 0px;
}
.btn:hover{
	width: 10%;
}
.btn:active{
	width: 10%;
	border-color: Blue;
	border-width: 10px;
}